body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Karla', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



h1,
h2,
h3 {
  font-family: 'Markazi Text', serif;
  font-size: 40pt;
  font-weight: normal;

}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-gap: 25px;
}

section2 h2 {
  color: white;
}

.container>* {
  padding: 0 5%;
}

nav {
  grid-column: 1/-1;
  grid-row: 1/2;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 16pt;
}

nav ul {
  list-style: none;
  display: inline-block;
  width: fit-content;
  grid-column: 7/span 4;
}

nav ul li {
  display: inline-block;
  margin: 0 1.5rem;

}

nav img {
  grid-column: 3/span 4;
}

main {
  grid-column: 1/13;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  background-color: #495E57;
  align-items: center;
  color: white;
}

main p {
  font-size: 18pt;
}

.price {
  font-size: 16pt;
  color: #EE9972;
}

main h1,
main h2,
#section3 h1,
#section3 h2 {
  margin: 0;
  color: #F4CE14;
}

.imgcont {
  width: 300px;

}

#imgcont {
  transform: translate(0, 40px);

}

.imgcont img {
  max-width: 100%;
  max-height: 100%;
}

main img {
  width: 250px;
}

#img2 {
  transform: translate(-119px, 25px);
  z-index: -1;
}

main button {
  background-color: #F4CE14;
  color: black;
  border-radius: 16px;
  height: fit-content;
  box-shadow: 5px 5px 5px;
  padding: 10px;
}



#section1 {
  grid-column: 1/span 12;
  grid-row: 3/span 1;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding-bottom: 1em;
  align-items: center;
  gap: 10px;
}

#section1 h2 {
  grid-column: span 2;
  justify-self: start;
}

.testi {
  padding: 0 1em;
  max-width: 250px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #EDEFEE;
  margin-bottom: 2em;
}

.star {
  grid-column: 1/-1;
}

.review {
  grid-column: 1/-1;

}

#section1 button {
  background-color: #F4CE14;
  color: black;
  border-radius: 16px;
  height: fit-content;
  padding: 10px;
  box-shadow: 5px 5px 5px;
}

.card {
  width: 250px;
  background-color: #EDEFEE;
  margin-top: 1em;
  text-align: center;
}

.card h3 {
  font-size: 18pt;
  font-weight: bold;
}

p {
  font-size: 16pt;
  line-height: 1.5;
  max-width: 65ch;
}

.card img {
  max-width: 100%;
}

#section2 {
  grid-column: 1/span 12;
  grid-row: 4/span 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  gap: 10px;
  background-color: #495E57;
}

#section2 h2 {
  grid-column: 1/-1;
}



#section3 {
  grid-column: 1/span 12;
  grid-row: 5/span 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 10px;
}

footer {
  grid-column: 1/span 12;
  grid-row: 6/ span 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #495E57;
  color: white;
}

footer ul li {
  list-style: none;
}

footer ul li:first-child {
  list-style: none;
  font-weight: bold;
}

.avatar {
  width: 55px;
}

footer img {
  align-self: center;
  background-color: #EDEFEE;
  padding: 0.5em;
  box-shadow: 5px 5px 5px black;
}

#imgprt {
  display: flex;
}

@media screen and (max-width: 1000px) {
  #section3 div {
    grid-column: 1/-1;
  }
}

@media screen and (max-width: 800px) {

  .card {
    grid-column: span 3;
  }

  #section1 h2 {
    grid-column: span 2;
    justify-self: center;
  }

  nav ul {
    display: none;
  }

  .testi {
    grid-column: span 2;
  }



  #img2 {
    transform: translate(0, 0);
  }

  #imgprt {
    flex-wrap: wrap;
    justify-content: center;
  }
}


@media screen and (max-width: 600px) {

  .card {
    grid-column: span 3;
  }

  #section1 h2 {
    grid-column: span 2;
    justify-self: center;
  }

  nav ul {
    display: none;
  }

  .testi {
    grid-column: 1/-1;
  }

  main div {
    grid-column: 1/-1;
  }

  footer {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

}